@model WebProject.Models.ViewModels.PlaceViewModel
@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name);
}

<h2> @Html.DisplayFor(model => model.Name) <small>Country: @Html.DisplayFor(model => model.Country), added by:  @Html.DisplayFor(model => model.UserName), Score: @Html.DisplayFor(model => model.Score)</small> </h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <img src="@Url.Content(Model.Photo_URI)" alt="Image" class="img-responsive img-thumbnail" style="max-height:400px; display: block; margin: auto;" />
    </div>
    <div class="panel-body">

      

        <div class="display-field">
            @Html.DisplayFormattedData(Model.Content)
        </div>
    </div>
</div>
@Html.ActionLink("Checked", "Create", "Travels", new { UserEmail = User.Identity.Name, PlaceId = ViewBag.PlaceId }, new { @class = "btn btn-success", type = "submit" })
<button type="button" class="btn btn-success">Show on the map</button>
<button type="button" class="btn btn-info">Search Flights</button>
@Html.ActionLink("Review it","Create", "Ranking", new { Id = ViewBag.PlaceId }, new { @class = "btn btn-success", type = "submit" })
<div id="comments">
    @{Html.RenderAction("Place", "Comment", new { id = ViewBag.PlaceId });}
</div>