@using System.Threading;
@using System.Globalization;
@model WebProject.Models.ViewModels.PlaceViewModel
@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name);
}

<h2> @Html.DisplayFor(model => model.Name) <small>@Resources.Resource.Country: @Html.DisplayFor(model => model.Country), @Resources.Resource.addedby:  @Html.DisplayFor(model => model.UserName), @Resources.Resource.Score: @Html.DisplayFor(model => model.Score)</small> </h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <a data-lightbox="image-1" data-title="View" href="@Url.Content(Model.Photo_URI)">
            <img src="@Url.Content(Model.Photo_URI)" alt="Image" class="img-responsive img-thumbnail" style="max-height:400px; display: block; margin: auto;" />
       </a>
</div>
    <div class="panel-body">

      

        <div class="display-field">
@{
    CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
    switch (currentCulture.TwoLetterISOLanguageName)
    {
        case "en":
            @Html.DisplayFormattedData(Model.Content);
            break;
        case "pl":
            @Html.DisplayFormattedData(Model.ContentPL);
            break;
        case "pt":
            @Html.DisplayFormattedData(Model.ContentPT);
            break;
    }
     }
            
        </div>
    </div>
</div>
@if (Request.IsAuthenticated)
{
@Html.ActionLink(@Resources.Resource.Visited, "Create", "Travels", new { UserEmail = User.Identity.Name, PlaceId = ViewBag.PlaceId }, new { @class = "btn btn-primary", type = "submit" })

@Html.ActionLink(@Resources.Resource.ReviewIt, "Create", "Ranking", new { Id = ViewBag.PlaceId }, new { @class = "btn btn-success", type = "submit" })
    if (User.Identity.Name == Model.UserEmail.Trim())
    {
        @Html.ActionLink(@Resources.Resource.Edit, "Edit", "Place", new { id = ViewBag.PlaceId }, new { @class = "btn btn-warning", type = "submit" })
    }

}

@if (ViewBag.Admin == true && Model.IsAccepted == false)
{
    @Html.ActionLink(@Resources.Resource.Accept, "Accept", "Place", new { Id = ViewBag.PlaceId }, new { @class = "btn btn-danger", type = "submit" })
}
<div id="comments">
    @{Html.RenderAction("Place", "Comment", new { id = ViewBag.PlaceId });}
</div>



