@model IEnumerable<WebProject.Models.ViewModels.PlaceViewModel>
@{
    ViewBag.Title = @Resources.Resource.Places;
}

<h2>@Resources.Resource.Places</h2>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Resources.Resource.Details
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>@Html.ActionLink(@Resources.Resource.See, "Details", "Place", new { id = item.PlaceId }, null)</td>
        </tr>
    }
</table>
@if (Request.IsAuthenticated)
{
    <h2>@Html.ActionLink(@Resources.Resource.Create, "Create", "Place", new { @class = "btn btn-primary", role = "button" })</h2>
}