@model IEnumerable<WebProject.Models.ViewModels.PlaceViewModel>
@{
    ViewBag.Title = "Places";
}

<h2>Places</h2>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Details
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>@Html.ActionLink("see", "Details", "Place", new { id = item.PlaceId }, null)</td>
        </tr>
    }
</table>

    <h2>@Html.ActionLink("Create", "Create", "Place", new { @class = "btn btn-primary", role = "button" })</h2>
