@model IEnumerable<WebProject.Models.ViewModels.PlaceViewModel>

<table class="table table-striped">
    <tr>
        <th>
            @Resources.Resource.Country
        </th>
        <th>
            @Resources.Resource.Name
        </th>
        <th>
            @Resources.Resource.Details
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>@Html.ActionLink(@Resources.Resource.See, "Details", "Place", new { id = item.PlaceId }, null)</td>
        </tr>
    }
</table>