@using System.Threading;
@using System.Globalization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Travel Site</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Resources.Resource.SiteTitle, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.Resource.Places, "Index", "Place")</li>
                    <li>@Html.ActionLink(@Resources.Resource.About, "About", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Resource.Contact, "Contact", "Home")</li>  
                    
@if (ViewBag.Admin == true)
{
                    <li>@Html.ActionLink(@Resources.Resource.Countries, "Index", "Country")</li>
                    <li>@Html.ActionLink(@Resources.Resource.Accept, "NotAccepted", "Place")</li>
}
                </ul>
               
                

                <ul class="nav navbar-nav navbar-right ">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            @Resources.Resource.Language <span class="caret"></span>
                        </a>
@{
    CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
    switch (currentCulture.TwoLetterISOLanguageName)
    {
        case "en":

            <ul class="dropdown-menu">
                <li><a href="/Home/ChangeLanguage?culture=pl-PL">Polski</a></li>
                <li><a href="/Home/ChangeLanguage?culture=pt-PT">Portuguese</a></li>
            </ul>
            break;
        case "pl":

            <ul class="dropdown-menu">
                <li><a href="/Home/ChangeLanguage?culture=en-US">English</a></li>
                <li><a href="/Home/ChangeLanguage?culture=pt-PT">Portuguese</a></li>
            </ul>
            break;
        case "pt":

            <ul class="dropdown-menu">
                <li><a href="/Home/ChangeLanguage?culture=pl-PL">Polski</a></li>
                <li><a href="/Home/ChangeLanguage?culture=en-US">English</a></li>
            </ul>
            break;
    }
}
                        
                    </li>  
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="jumbotron">
            
            <h1>@Resources.Resource.SiteTitle</h1>
            <p class="lead">@Resources.Resource.SiteSubTitle</p>
           
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Resource.Footer</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lightbox")
    @RenderSection("scripts", required: false)

</body>
</html>
