@model WebProject.Models.UserModel
@{
    ViewBag.Title = @Resources.Resource.Register;
}


@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resources.Resource.Register</legend>
        <div class="container center_div">
            <div class="editor-label">
                <label> @Resources.Resource.FirstName</label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="editor-label">
                <label>@Resources.Resource.LastName</label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            <div class="editor-label">
                <label>@Resources.Resource.BirthDate</label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control", @placeholder = "YYYY-MM-DD" })
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <br />
            <p>
                <input type="submit" class="btn btn-default" value="@Resources.Resource.Create" />
            </p>
        </div>
    </fieldset>

}


