@model WebProject.Models.ViewModels.AllUserInfoViewModel
@{
    ViewBag.Title = Resources.Resource.UserDetails;
}

<h2> Resources.Resource.UserDetails</h2>


<div class="display-field">
    @Html.DisplayFor(model => model.Email)
</div>


<div class="display-field">
    @Html.DisplayFor(model => model.FirstName)
</div>


<div class="display-field">
    @Html.DisplayFor(model => model.LastName)
</div>

<h2>@Resources.Resource.PlacesAddedByUser</h2>
<table class="table table-striped">
    @foreach (var item in Model.Places)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>@Html.ActionLink(@Resources.Resource.See, "Details", "Place", new { id = item.PlaceId }, null)</td>
            @if (User.Identity.Name == Model.Email.Trim())
            {
                <td>@Html.ActionLink(@Resources.Resource.Edit, "Edit", "Place", new { id = item.PlaceId }, null)</td>
            }
        </tr>
    }
</table>
<h2>@Resources.Resource.PlacesVisitedByUser</h2>
<table class="table table-striped">
    @foreach (var item in Model.Visited)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>@Html.ActionLink(@Resources.Resource.See, "Details", "Place", new { id = item.PlaceId }, null)</td>
            @if (User.Identity.Name == Model.Email.Trim())
            {
                <td>@Html.ActionLink(@Resources.Resource.RemoveVisit, "RemoveVisit", "Travels", new { id = item.PlaceId }, null)</td>
            }
        </tr>
    }
</table>
<h2>@Resources.Resource.CommentsAddedByUser</h2>
<table class="table table-striped">
    @foreach (var item in Model.Comments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>@Html.ActionLink(@Resources.Resource.See, "Details", "Place", new { id = item.PlaceId }, null)</td>
        </tr>
    }
</table>

