@model WebProject.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <fieldset>
            <legend>Login</legend>
            <div class="container center_div">
                <div class="editor-label">
                    @Html.LabelFor(u => u.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Email)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(u => u.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Password)
                </div>

                <input type="submit" class="btn btn-default" value="Log In" />
                </div>
</fieldset>
    </div>
}

