@model WebProject.Models.CountryModel
@{
    ViewBag.Title = "Create Country";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create country</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Code, new { @class = "form-control" ,
           @style = " width: 45px; "})
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit"  class="btn btn-default" value="Create" />
        </p>
    </fieldset>
}

