@model IEnumerable<WebProject.Models.CountryModel>
@{
    ViewBag.Title = "Index";
}

<h2>Countries</h2>
<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}
</table>
@if (ViewBag.Admin == true)
{
    <h2>@Html.ActionLink("Create", "Create", "Country")</h2>
}
